
importFrom(parallel, mclapply, pvec, mccollect, mcparallel)
export(mclapply, pvec, mcparallel)

export(children, collect, exit, fork, kill, parallel, processID)

importFrom(tools, SIGCHLD, SIGHUP, SIGINT, SIGKILL,
           SIGQUIT, SIGSTOP, SIGTERM, SIGUSR1, SIGUSR2)
export(SIGCHLD, SIGHUP, SIGINT, SIGKILL,
       SIGQUIT, SIGSTOP, SIGTERM, SIGUSR1, SIGUSR2)

